h1, h2{
    font-size: 48px;
    border: 4px;
    color: rgb(140, 140, 140);
    text-align: center;
    font-weight: lighter;
}

.ID-container,.password-container {
    padding-bottom: 30px;
    padding: 20px;
    text-align: center;
}

/* placeholder안에 있는 글자 스타일 조절 */
input[type="text"], input[type="password"]{
    width: 486px;
    height: 67px;
    border-radius: 30px;
    background-color:rgb(255, 255, 255);
    border-color: gray;
    font-size: 20px;
    padding-left: 20px
}


/* 로그인 관련 버튼 스타일 조절 */
input[type="button"]{
    
    width: 200px;
    height: 55px;
    border-radius: 20px;
    border-color: white;
    font-size: large;
    background-color: rgb(247, 122, 122, 70%);
    color: aliceblue;
    text-align: center;
}

.buttons {
    display: flex; /* Flexbox 사용 */
    justify-content: center; /* 수평 중앙 정렬 */
    margin-top: 20px; /* 버튼과 위 요소 간의 여백 */
}


.password-reset, .signUp {
    text-align: center;
    margin-top: 10px; /* 위쪽 여백 */
}

.password-reset a, .signUp a {
    color: gray; /* 링크 색상 */
    /* text-decoration: underline; 밑줄 */
}

.signUp a{
    background-color: rgb(255, 198, 198);
}

.password-reset a:hover, .signUp a:hover {
    color: rgba(247, 122, 122, 70%); /* 마우스를 올렸을 때 색상 변경 */
}




body{
    margin-top: 31px;
    margin-bottom: 140px;
    /* background-color: antiquewhite; */
}


body {
    padding: 30px;
    
}



input{
    margin-left: 10px;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    padding-left: 20px; /* 왼쪽 여백 추가 (들여쓰기 효과) */
    color: gray;
}





input[type="button"]:hover {
    background-color:rgb(247, 122, 122, 100%); /* 마우스를 올렸을 때 배경색 */
}